
.decor{
    
}
button{
    border:none;
    padding: 10px 30px;
    color: aquamarine;
    font-weight: bold;
    background-color: black;

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.potty{
    font-size: 35px;
    padding-left:-6px;
    
}
nav ul{
    list-style-type: none;
    width: 98%;
    text-align: right;
    padding: 10px;
}
nav ul li{
    display: inline-block;
    margin: 2px 5px;
    list-style: none;

    
}
nav ul li a{
    text-decoration: none;
   width: 40px;
}
.picture17{
    margin-left: 44%;
    width:250px; 
    height:250px;
    margin-top:-20%;
    align-content: first baseline;
}
.picture1{
    margin-top:6%;
    width:100vh;
    height:100vh;

}
.place{
    margin-left: 4px;
}
.holder{
    display: flex;
    justify-content: space-between;
}
.prof{
    background-image: none;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
}
.built{
    display: flex;
    justify-content: space-between;

}
.flee{
    margin: 10%;

}
.ige{
/*     
}
.office{
    margin-right: 10%;
    width:150px;
    height: 150px;
     */
}
nav{

}
#h1{
    margin-top: -10%;

}
.lap{
    margin-top: 10px;
    margin-left: 12px;

}
